.btnBuyCar {
    margin-top: 2em;
}

.test-under-picture{
    text-align: left;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}

.title-showroom{
    font-size: 1em;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    display: inline;
}

.data-showroom {
    margin-left: 0.6em;
    font-size: 1em;
    line-height: 1.25em;
    color: #303030;
    font-weight: 300;
    display: inline;
}

.crop {
    width: 505px;
    height: 255px;
    overflow: hidden;
}

.crop img {
    position:absolute;
    /*top:50%;*/
    /*left:50%;*/
    margin-top:-25px;
    margin-left:-25px;
}


.form-btn-home{
    width:180px;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
}

.form-btn-home:hover{
    background:#111;
    color: white;
    border:none;
}

.form-btn-home:active{
    opacity: 0.9;
}