.posts {
    width: 100%;
}

.article-container{
    padding: 2px;
}

.carImage {
    width: 100%;
    height: 20em;
    margin-left: 0.25em;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.carImage > img {
    position:absolute;
    top:50%;
    /*min-height:100%;*/
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

.margin-video{
    padding-top: 2em;
    padding-bottom: 5em;
}