.col-xs-4 > callout{
    margin-left: 30px;
    margin-right: 22px;
}

.posts {
    width: 100%;
}

.carImage {
    width: 100%;
    height: 20em;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.carImage > img {
    position:absolute;
    top:50%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}
